{% extends "base.html" %}
{% block content %}

<div class="err_message">

{% if error %}

    <p class=error style="color:Tomato;"><strong> &nbsp;&nbsp;Error: &nbsp;</strong> {{ error }}
  {% endif %}
</div>

<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}

    {{ form.email.label }} {{ form.email() }}
    {{ form.password.label }} {{ form.password() }}
  &nbsp;
    {{ form.submit() }}
    <br>
    {% for error in form.email.errors %}
           <span style="color: red;">{{ error }}</span>
           {% endfor %} <br>
</form>
<br>
{% endblock %}
